.main-header {
     background-image: linear-gradient(86deg, var(--clr2) 0%, var(--clr1) 100%);
    height: 5em;
    border-radius: 45px;
    padding: 1.7em;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.main-nav label {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}
