@font-face {
    font-family: inconsolata;
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: playfair;
    src: url(/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
