:root {
    /* Palette */
    /* --clr-2: #f0f0f0;
    --clr-1: #b4ad9e; */
    --clr1: #0fa2a2;
    --clr2: #2f2fbf;

    /* Layout */
    /* --layout-padding: 1.25rem;
    --site-width: max-content;
    --l: 1060px;
    --m: 860px;
    --s: 600px; */
}
